<div class="col-md-offset-1">
  <h2 class="page_title">ユーザー 一覧</h2>
  <table class="table col-md-offset-2">
    <thead>
      <tr>
        <th>No.</th>
        <th>ユーザー名</th>
      </tr>
    </thead>
    <% @users.each do |user| %>
      <tbody>
        <tr>
          <td><%= user.id%></td>
          <td><%= user.user_id %></td>
        </tr>
      </tbody>
    <% end %>
  </table>
</div>
